body {
  position: relative;
  padding-bottom: (2rem + @line-height-rem);
}

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: @color-soft-fill;
  color: @color-muted;
  a {
    color: inherit;
  }
}