.site-header {
  position: relative;
  z-index: 2;
  box-shadow: 0 .1rem .3rem fade(black, 20%); // @color-darker;
  // box-shadow: 0 .1rem 0 .1rem fade(black, 20%);
  .container {
    .clearfix;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.site-title {
  overflow: auto;
  float: left;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: inherit;
  a {
    display: block;
    color: inherit;
  }
  img {
    float: left;
    margin-right: @padding-h;
    height: 2.4rem;
    width: auto;
    vertical-align: middle;
  }
  .short-title {
    display: none;
    // display: inline-block;
    margin-right: @padding-h;
    font-weight: 700;
    letter-spacing: .025em;
  }
  .long-title {
    font-weight: 300;
  }
  @media (max-width: @screen-phone-max) {
    .long-title {
      display: none;
    }
  }
}

.site-header [data-toggle] {
  .btn;
  .btn-fake;
  float: right;
  margin-top: (2.4rem - @line-height-rem - @padding-v * 2);
  margin-left: @padding-h;

  &:focus {
    outline: none;
  }

  &:active,
  &.is_toggled {
    background-color: @color-soft-fill;
  }
}

.header-menu {
  &.is_open { display: block; }
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: @padding-large;
  background-color: #fff;
  box-shadow: 0 .1rem .3rem @color-darker;

  .nav-list {
    .no-list();
    margin-bottom: 0;
    a {
      display: block;
      margin-left: -@padding-h-large;
      margin-right: -@padding-h-large;
      padding: @padding;
      &:hover,
      &:focus {
        background-color: @color-soft-fill;
      }
    }
  }

  @media (max-width: @screen-phone) {
    left: 0;
    border-bottom: 2px solid @color-soft;
  }
}

#usermenu {
  left: auto;
  right: 0;
  width: 15rem;
  max-width: 100%;
  border-bottom: 0;
  label {
    display: none;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: @leading;
    padding: @padding-v-large 0;
    border: 0;
    border-bottom: 2px solid @color-soft;
    transition: border-bottom-color 200ms ease-out;
    &:hover {
      border-bottom-color: @color-anchor-hover;
    }
    &:focus {
      outline: none;
      border-bottom-color: @color-anchor;
    }
  }

  .btn {
    min-width: 4rem;
    box-shadow: none;
    text-indent: 0;
    transition: text-indent 100ms ease-out;

    &:hover,
    &:focus {
      text-indent: @padding-h;
    }
  }

  .additional {
    margin: @padding-v-large -@padding-h-large -@padding-v-large;
    padding: @padding-large;
    border-top: 1px solid @color-soft;
    background-color: @color-soft-fill;
  }
}

.section-header {
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eee;
  .thumbnail {
    float: left;
    margin-right: 1rem;
    height: 6rem;
    img {
      .img-height();
    }
  }
  svg {
    width: auto;
  }
  path {
    fill: #fff;
  }
}
.section-title {
  margin: 0;
}
.section-subtitle {
  margin: 0;
}