<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}">
        <img src="{{ "flis-logo-compact.png"| prepend: site.assetsurl }}" alt="FLIP Logo">
        <span class="short-title">FLIP</span>
        <span class="long-title">Forward Looking Information Platform</span>
      </a>
    </h1>

    <button id="navmenu-toggle">Menu</button>
    <nav id="navmenu">
      <ul>
        <li><a href="{{ "horizon" | prepend: site.baseurl }}">Horizon Scanning</a></li>
        <li><a href="{{ "policy" | prepend: site.baseurl }}">Uses of Foresight in Policy Making</a></li>
        <li><a href="{{ "terms" | prepend: site.baseurl }}">FLIS Terms and Definitions</a></li>
        <li><a href="{{ "about" | prepend: site.baseurl }}">About the FLIS Community</a></li>
      </ul>
    </nav>
  </div>
</header>
